.background-experience
{
    /* background-color: #272643; */
}
.experience-item
{
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 3%;
    border-radius: 10px 10px;
}
.line-white
{
    background: linear-gradient(to bottom right, white, white);
}
.experience-arrow
{
    transform: rotate(-90deg);
    height: 41px;
    margin-right: 6%;
}
.arrow-left
{
    transform: rotate(90deg);
}
.experience-header
{
    display: flex;
}
.experience-header>h1
{
    margin: 0;
    width: 209%;
}
.container-arrow
{
    display: flex;
    width:60%;
    margin-left:-27%;
}
.container-arrow>h1
{
    margin: 0 40% 0 0;
}
.experience-container
{
    display: flex;
}
.experience-fields
{
    width: 40%;
    margin:auto;
}
.experience-list
{
    display: flex;
    width: 100%;
}
.experience-list-item
{
    text-align: center;
    margin:1%;
    transition: transform .2s;
}
.experience-list-item:hover
{
    transform: scale(1.1);
}
.experience-list-item>h2
{
    margin: 0;
}
