.background-habilities
{
    /* background-color: #b0d4e7; */
}
.habilities-table
{
    text-align: left;
    width: 100%;
    margin-top: 5%;
}
.habilities-table>thead>tr>th
{
    font-size: 28px;
    border-bottom:solid;

    text-align: center;
}
.habilities-table>tbody>tr>td
{
    font-size: 20px;
}
.hability-title
{
    font-weight: bold;
}
.container-star>img
{
    animation-name: move-star;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.container-star
{
    text-align: center;
}
@keyframes move-star {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
